body {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-primary);
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.body-toggle {
  background-color: var(--gray-100);
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.7241379310344829rem + 3.3103448275862064vw, 4rem);
  font-weight: 400;
}

ul {
  margin: 0;
}
